---
import Layout from "../layouts/Layout.astro";
import Base from "../layouts/Base.astro";
import { supabase } from "../lib/supabase";

const { cookies, redirect } = Astro;

const accessToken = cookies.get("sb-access-token");
const refreshToken = cookies.get("sb-refresh-token");

if (accessToken && refreshToken) {
  return redirect("/dashboard");
}

const handleSubmit = async (event: {
  preventDefault: () => void;
  target: { email: { value: any }; password: { value: any } };
}) => {
  event.preventDefault();

  const email = event.target.email.value;
  const password = event.target.password.value;

  try {
    if (!email || !password) {
      console.log("Se requieren password e email");

      return new Response("Email and password are required", { status: 400 });
    }
    const { data, error } = await supabase.auth.signInWithPassword({
      email,
      password,
    });

    if (error) {
      console.log("Hemos tenido un error en el signin");

      return new Response(error.message, { status: 500 });
    }

    const { access_token, refresh_token } = data.session;

    console.log("access token: " + access_token);
    console.log("refresh token: " + refresh_token);

    cookies.set("sb-access-token", access_token, {
      path: "/",
    });
    cookies.set("sb-refresh-token", refresh_token, {
      path: "/",
    });

    return redirect("/dashboard");

  } catch (error) {
    console.error("Error inesperado:", error);
    // Manejar el error inesperado
  }
};
---

<Base title="Sign in">
  <div class="min-h-screen flex justify-center items-center bg-gray-100">
    <div class="max-w-md w-full bg-white p-8 rounded-lg shadow-md">
      <h1 class="text-3xl font-semibold mb-4">Sign in</h1>
      <p class="text-gray-600 mb-4">
        New here? <a href="/register" class="text-blue-500"
          >Create an account{accessToken}</a
        >
      </p>
      <form onsubmit=`${handleSubmit}`>
        <div class="mb-4">
          <label for="email" class="block text-sm font-medium text-gray-700"
            >Email</label
          >
          <input
            type="email"
            name="email"
            id="email"
            class="p-1 mt-1 focus:ring-blue-500 focus:border-blue-500 block w-full shadow-sm sm:text-sm border-gray-300 rounded-md bg-gray-50"
          />
        </div>
        <div class="mb-4">
          <label for="password" class="block text-sm font-medium text-gray-700"
            >Password</label
          >
          <input
            type="password"
            name="password"
            id="password"
            class="p-1 mt-1 focus:ring-blue-500 focus:border-blue-500 block w-full shadow-sm sm:text-sm border-gray-300 rounded-md bg-gray-50"
          />
        </div>
        <button
          type="submit"
          class="w-full py-2 px-4 border border-transparent text-sm font-medium rounded-md text-white bg-blue-500 hover:bg-blue-600 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-blue-500"
          >Login</button
        >
      </form>
    </div>
  </div>
</Base>
